@import "styles.css";

a .btn{
    text-decoration: none;
    background-color: white;
}


a .btn:visited{
    color: white;
    text-decoration: none;
    background-color: white;
}

a .btn:hover{
    text-decoration: none;
}