body {
    height: 100%;
    width: 100%;
    background-color: black;
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    font-family: Comic Sans MS;
    font-size: 2.5em;
    color: antiquewhite;
    border: 3px solid antiquewhite;

}

.content-wrap {
    height: 100vh;
    overflow-y: scroll;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

.title{
    height: 150px;
    width: 100%;
    font-size: 1.0em;
    border-bottom: 3px solid antiquewhite;
    text-align: center;
}

footer {
    height: 50px;
    width: 100%;
    font-size: large;
    font-family: "Times New Roman", Times, serif;
    flex-shrink: 0;
    color: black; 
    border-top: 3px solid antiquewhite;
    text-align: center;
}

.hmpgcontent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn{
    margin-top: 50px;
    font-size: 0.5em;
    border: antiquewhite solid 2px;
    border-radius: 25px;
    text-decoration: none;
    padding: 25px;
}

.btn:visited{
    color: antiquewhite;
    text-decoration: none;
    background-color: antiquewhite;
}

.introduction p{
    color: yellow;
    margin-left: 50px;
    margin-right: 50px;
}

.stars {
	position: absolute;
	width: 1px;
	height: 1px;
	background-color: #fff;
	z-index: 2;
}