<!-- edit here -->
{% extends "layout.html" %}
{% block body %}

<body>
    <div class="notesContainer">
        <div class="btn">
            <button id="prev-btn">&#60;</button>
        </div>
        <div class="flashcard">
            <div id="data-container">
                <div class ="data"></div>
            </div>
        </div>    
        <div class="btn">
            <button id="next-btn">&#62;</button>
        </div>
    </div>
    <div class="flashcardOption">
        <a href="{{ url_for ('quiz') }}"><button id="start-button">GO</button></a>
    </div>
    <script src="/static/quiz.js"></script>
</body>




{% endblock %}